.active {
    background-color: #f3fcf8;
    color: #74b389;
    border-radius: 10vh;
  }
  
  .inactive {
    background-color: #f4f6f8;
    color: #abafb8;
    border-radius: 10vh;
  }
  
  .pending {
    background-color: #fdf7e7;
    color: #f6da7f;
    border-radius: 10vh;
  }
  
  .blacklist {
    background-color: #fde6ec;
    color: #cf4b71;
    border-radius: 10vh;
  }