<ngx-spinner type="ball-scale-multiple"></ngx-spinner>


<div class="md:px-[5vh] md:py-[3vh]">

<!-- <p>users-details works!</p> -->
<button class="flex flex-row justify-start gap-3 " (click)="routeTo()">
    <img src="assets/icons/np_back_3007750_000000 1.svg" alt="">
    <p class="text-[15px] mt-1">Back to Users</p>
</button>



<div class="mt-2 sm:flex justify-between ">
    <div class="mt-4">
    <p class="lg:text-[20px] sm:text-[15px] font-bold text-[#39496c]"> User Details</p>
    </div>
    <div class="sm:flex grid-cols-1 mt-2 gap-5  ">
        <button class=" border-[#df013d] border text-[12px] font-semibold bg-transparent text-[#df013d] rounded-md py-2 sm:mb-0  mb-2 px-5">
            BLACKLIST USER
        </button>
        <button  class="  border-[#3ccac5] border text-[12px] font-semibold bg-transparent text-[#3ccac5] rounded-md py-2 px-5">
            ACTIVATE USER 
        </button>
    </div>
</div>


<div class="sm:grid sm:grid-cols-1  flex-col gap-3 mt-5 ">
    <div
      class="m-2 pt-3 px-3 bg-white shadow-md  grid rounded-md  "
    >
      
      <div class="flex md:flex-row flex-col justify-start gap-2 ">
          <div class="flex ml-5">
              <div class="md:w-28 md:h-28 w-12 h-12 rounded-full bg-[#dce0eb]  flex items-center justify-center">
                <img src="assets/icons/np_user_948637_000000 1.svg" alt="User Icon" class="md:w-12 md:h-12 w-6 h-6">
              </div>
              <div class="sm:mt-8 ml-5">
                <h2 class="text-[20px] text-[#39496c] font-semibold ">{{userInfo.profile.name}}</h2>
                <p class="text-[12px] text-gray-500 font-light">LSQFf587g90</p>
              </div>
            </div>

            <span class=" border border-l-slate-200 w-0 mx-8"></span>
        <div class="mt-9 sm:ml-2 ml-12">
          <h4 class="font-semibold lg:text-sm sm:text-xs text-[#39496c]">User's Tier</h4>
          <div class="flex gap-2">
            <img src="assets/icons/np_star_1208084_000000 1.png" class="h-5 w-5" alt="">
            <img src="assets/icons/Vector.png" alt="" class="h-5 w-5">
            <img src="assets/icons/Vector.png" alt="" class="h-5 w-5">
          </div>
          <!-- <p class="lg:text-md sm:text-[1.2vh]">Requests</p> -->
        </div>  

        <span class=" border border-l-slate-200 w-0 mx-8"></span>

        <!-- <div class="mt-3"> -->
            <div class="mt-8 ml-5">
                <h2 class="text-[20px] text-[#39496c] font-semibold ">₦200,000.00</h2>
                <p class="text-[12px] text-gray-500 font-light">9912345678/Providus Bank</p>
              </div>
          <!-- <h4 class="font-normal lg:text-sm sm:text-xs">2433</h4> -->
          <!-- <p class="lg:text-md sm:text-[1.2vh]">Requests</p> -->   
        <!-- </div> -->
      </div>

      <div class="mt-[5vh] sm:mx-5 flex sm:justify-between overflow-x-scroll gap-7 sm:overflow-hidden">
        <button class="bg-transparent border-b-[#3ccac5] sm:w-[20vh] border-b-2  text-[#81c2bd] text-[10px] sm:text-[14px]  ">General Details</button>
        <button class="bg-transparent sm:w-[20vh] text-[10px] sm:text-[14px]">Documents</button>
        <button class="bg-transparent sm:w-[20vh] text-[10px] sm:text-[14px]">Bank Details</button>
        <button class="bg-transparent sm:w-[20vh] text-[10px] sm:text-[14px]">Loans</button>
        <button class="bg-transparent sm:w-[20vh] text-[10px] sm:text-[14px]">Savings</button>
        <button class="bg-transparent sm:w-[20vh] text-[10px] sm:text-[14px]"> App and System</button>
    </div>
    </div>



    
    </div>

    <div class="grid md:grid-cols-1  flex-col gap-3 mt-5 ">

       

        <div
          class="m-2 py-7 px-4 bg-white shadow-md grid rounded-md"
        >

        <h2 class="sm:text-[15px] text-[14px] sm:ml-10 text-[#39496c] font-semibold ">Personal Information</h2>
          
          <div class="">
              <div class="sm:grid sm:grid-cols-5 sm:ml-10 mb-4 flex-col justify-between">
                  <div class="mt-4 ">
                    <h2 class="text-[11px] text-gray-500 font-light  ">FULL NAME</h2>
                    <p class="text-[14px] text-gray-600 font-semibold">{{userInfo.profile.name}}</p>
                  </div>

                  <div class="mt-4">
                    <h2 class="text-[11px] text-gray-500 font-light  ">PHONE NUMBER </h2>
                    <p class="text-[14px] text-gray-600 font-semibold">{{userInfo.profile.phone[0]}}</p>
                  </div>

                  <div class="mt-4 ">
                    <h2 class="text-[11px] text-gray-500 font-light  ">EMAIL ADDRESS</h2>
                    <p class="text-[14px] text-gray-600 font-semibold">{{userInfo.email}}</p>
                  </div>

                  <div class="mt-4 ">
                    <h2 class="text-[11px] text-gray-500 font-light  ">BVN</h2>
                    <p class="text-[14px] text-gray-600 font-semibold">07060780922 </p>
                  </div>

                  <div class="mt-4 ">
                    <h2 class="text-[11px] text-gray-500 font-light  ">GENDER</h2>
                    <p class="text-[14px] text-gray-600 font-semibold">Female</p>
                  </div>

                  <div class="mt-4 ">
                    <h2 class="text-[11px] text-gray-500 font-light  ">MARITAL STATUS</h2>
                    <p class="text-[14px] text-gray-600 font-semibold">Single</p>
                  </div>

                  <div class="mt-4 ">
                    <h2 class="text-[11px] text-gray-500 font-light  ">CHILDREN</h2>
                    <p class="text-[14px] text-gray-600 font-semibold">None </p>
                  </div>

                  <div class="mt-4 ">
                    <h2 class="text-[11px] text-gray-500 font-light  ">TYPE OF RESIDENCE</h2>
                    <p class="text-[14px] text-gray-600 font-semibold">Parent’s Apartment</p>
                  </div>
                </div>



                <hr class="mt-10 mb-5 text ">
    

                <h2 class="sm:text-[15px] text-[14px] sm:ml-10 text-[#39496c] font-semibold ">Education and Employment</h2>
          
          <div class="">
              <div class=" sm:grid sm:grid-cols-5 sm:ml-10 mb-4 flex-col justify-between">
                  <div class="mt-4 ">
                    <h2 class="text-[11px] text-gray-500 font-light  ">LEVEL OF EDUCATION</h2>
                    <p class="text-[14px] text-gray-600 font-semibold">B.Sc</p>
                  </div>

                  <div class="mt-4">
                    <h2 class="text-[11px] text-gray-500 font-light  ">EMPLOYMENT STATUS</h2>
                    <p class="text-[14px] text-gray-600 font-semibold">Employed</p>
                  </div>

                  <div class="mt-4 ">
                    <h2 class="text-[11px] text-gray-500 font-light  ">SECTOR OF EMPLOYMENT</h2>
                    <p class="text-[14px] text-gray-600 font-semibold">FinTech</p>
                  </div>

                  <div class="mt-4 ">
                    <h2 class="text-[11px] text-gray-500 font-light  ">DURATION OF EMPLOYMENT</h2>
                    <p class="text-[14px] text-gray-600 font-semibold">2 years </p>
                  </div>

                  <div class="mt-4 ">
                    <h2 class="text-[11px] text-gray-500 font-light  ">OFFICE EMAIL</h2>
                    <p class="text-[14px] text-gray-600 font-semibold">grace@lendsqr.com</p>
                  </div>

                  <div class="mt-4 ">
                    <h2 class="text-[11px] text-gray-500 font-light  ">MONTHLY INCOME</h2>
                    <p class="text-[14px] text-gray-600 font-semibold">₦200,000.00- ₦400,000.00</p>
                  </div>

                  <div class="mt-4 ">
                    <h2 class="text-[11px] text-gray-500 font-light  ">LOAN REPAYMENT</h2>
                    <p class="text-[14px] text-gray-600 font-semibold">40,000 </p>
                  </div>


                </div>


                <hr class="mt-10 mb-5 text ">


                <h2 class="sm:text-[15px] text-[14px] sm:ml-10 text-[#39496c] font-semibold ">Socials</h2>
          
          <!-- <div class=""> -->
              <div class=" justify-between sm:grid sm:grid-cols-5 sm:ml-10 mb-4 flex-col">
                  <div class="mt-4 ">
                    <h2 class="text-[11px] text-gray-500 font-light  ">TWITTER</h2>
                    <p class="text-[14px] text-gray-600 font-semibold">@grace_effiom</p>
                  </div>

                  <div class="mt-4">
                    <h2 class="text-[11px] text-gray-500 font-light  ">FACEBOOK</h2>
                    <p class="text-[14px] text-gray-600 font-semibold">Grace Effiom</p>
                  </div>

                  <div class="mt-4 ">
                    <h2 class="text-[11px] text-gray-500 font-light  ">INSTAGRAM</h2>
                    <p class="text-[14px] text-gray-600 font-semibold">@grace_effiom</p>
                  </div>

                  

                
                </div>

                <hr class="mt-10 mb-5 text ">


                <h2 class="sm:text-[15px] text-[14px] sm:ml-10 text-[#39496c] font-semibold ">Guarantor</h2>
          
          <!-- <div class=""> -->
              <div class=" justify-between sm:grid sm:grid-cols-5 sm:ml-10 mb-4 flex-col">
                  <div class="mt-4 ">
                    <h2 class="text-[11px] text-gray-500 font-light  ">FULL NAME</h2>
                    <p class="text-[14px] text-gray-600 font-semibold">Debby Ogana </p>
                  </div>

                  <div class="mt-4">
                    <h2 class="text-[11px] text-gray-500 font-light  ">PHONE NUMBER</h2>
                    <p class="text-[14px] text-gray-600 font-semibold">07060780922 </p>
                  </div>

                  <div class="mt-4 ">
                    <h2 class="text-[11px] text-gray-500 font-light  ">EMAIL</h2>
                    <p class="text-[14px] text-gray-600 font-semibold">debby@gmail.com</p>
                  </div>

                  <div class="mt-4 ">
                    <h2 class="text-[11px] text-gray-500 font-light  ">RELATIONSHIP</h2>
                    <p class="text-[14px] text-gray-600 font-semibold">Sister</p>
                  </div>
                  

                
                </div>

                
                <hr class="mt-10 mb-5 text ">

                <div class=" justify-between sm:grid sm:grid-cols-5 sm:ml-10 mb-4 flex-col">
                    <div class="mt-4 ">
                      <h2 class="text-[11px] text-gray-500 font-light  ">FULL NAME</h2>
                      <p class="text-[14px] text-gray-600 font-semibold">Debby Ogana </p>
                    </div>
  
                    <div class="mt-4">
                      <h2 class="text-[11px] text-gray-500 font-light  ">PHONE NUMBER</h2>
                      <p class="text-[14px] text-gray-600 font-semibold">07060780922 </p>
                    </div>
  
                    <div class="mt-4 ">
                      <h2 class="text-[11px] text-gray-500 font-light  ">EMAIL</h2>
                      <p class="text-[14px] text-gray-600 font-semibold">debby@gmail.com</p>
                    </div>
  
                    <div class="mt-4 ">
                      <h2 class="text-[11px] text-gray-500 font-light  ">RELATIONSHIP</h2>
                      <p class="text-[14px] text-gray-600 font-semibold">Sister</p>
                    </div>
                    
  
                  
                  </div>
            <!-- <div class="mt-9">
              <h4 class="font-semibold lg:text-sm sm:text-xs text-[#39496c]">User's Tier</h4>
              <div class="flex gap-2">
                <img src="assets/icons/np_star_1208084_000000 1.png" class="h-5 w-5" alt="">
                <img src="assets/icons/Vector.png" alt="" class="h-5 w-5">
                <img src="assets/icons/Vector.png" alt="" class="h-5 w-5">
              </div>
              <p class="lg:text-md sm:text-[1.2vh]">Requests</p>
            </div>   -->
    
    
            <!-- <div class="mt-3"> -->
                <!-- <div class="mt-8 ml-5">
                    <h2 class="text-[20px] text-[#39496c] font-semibold ">₦200,000.00</h2>
                    <p class="text-[12px] text-gray-500 font-light">9912345678/Providus Bank</p>
                  </div> -->
              <!-- <h4 class="font-normal lg:text-sm sm:text-xs">2433</h4> -->
              <!-- <p class="lg:text-md sm:text-[1.2vh]">Requests</p> -->   
            <!-- </div> -->
          </div>
    
      
        </div>
</div>
