<!-- <p>users works!</p> -->

<div class="md:px-[8vh] py-[3vh]">
   


    <!-- <div> -->
        <!-- <div class="grid xl:grid-cols-1 gap-5 grid-cols-1"> -->
            <!-- <div> -->
              <div class="" id="Dialy_Card_Style">
                <span
                  class="font-bold lg:text-[24px] text-[#2f3c62] sm:text-md"
                  style="padding-left: 1rem"
                >
                  Users
                </span>
                <div class="grid md:grid-cols-4 mt-3  sm:flex-col gap-3 ">
                  <div
                    class="m-2 p-3 border-1 bg-white shadow-md grid  rounded-md"
                  >
                    <div>
                      <h2 class="text-center font-bold lg:text-[3.5vh] sm:text-[3vh]">
                        <!-- {{ DashboardStatistics.DailyPending }} -->
                      </h2>
                    </div>
                    <div class="flex flex-col justify-start gap-2">
                        <div class="flex">
                            <div class="w-12 h-12 rounded-full bg-[#ffe7ff]  flex items-center justify-center">
                              <img src="assets/icons/np_users_1248631_000000 1.svg" alt="User Icon" class="w-6 h-6">
                            </div>
                          </div>
        
                      <div class="mt-3">
                        <h4 class="font-semibold text-gray-500  text-[12px] sm:text-xs">USERS</h4>
                        <!-- <p class="lg:text-md sm:text-[1.2vh]">Requests</p> -->
                      </div>

                      <div class="my-3">
                        <h4 class="font-bold lg:text-[25px] text-[#2f3c62] sm:text-xs">2433</h4>
                        <!-- <p class="lg:text-md sm:text-[1.2vh]">Requests</p> -->
                      </div>
                    </div>
                  </div>
        
                  
                  <div
                    class="m-2 p-3 border-1 bg-white shadow-md grid  rounded-md"
                  >
                    <div>
                      <h2 class="text-center font-bold lg:text-[3.5vh] sm:text-[3vh]">
                        <!-- {{ DashboardStatistics.DailyApproved }} -->
                      </h2>
                    </div>
        
                    <div class="flex flex-col gap-2">
                     

                      <div class="flex">
                        <div class="w-12 h-12 rounded-full bg-[#f1e9ff]  flex items-center justify-center">
                          <img src="assets/icons/np_users_1977590_000000 1.svg" alt="User Icon" class="w-6 h-6">
                        </div>
                      </div>
        
                      <div class="mt-3">
                        <h4 class="font-semibold text-[12px] text-gray-500  sm:text-xs">ACTIVE USERS</h4>
                        <!-- <p class="lg:text-md sm:text-[1.2vh]">Requests</p> -->
                      </div>

                      <div class="my-3">
                        <h4 class="font-bold lg:text-[25px] text-[#2f3c62] sm:text-xs">2453</h4>
                        <!-- <p class="lg:text-md sm:text-[1.2vh]">Requests</p> -->
                      </div>
                    </div>
                  </div>
        

                  <div
                  class="m-2 p-3 border-1 bg-white shadow-md grid  rounded-md"
                >
                  <div>
                    <h2 class="text-center font-bold lg:text-[3.5vh] sm:text-[3vh]">
                      <!-- {{ DashboardStatistics.DailyApproved }} -->
                    </h2>
                  </div>
      
                  <div class="flex flex-col gap-2">
    

                    <div class="flex">
                        <div class="w-12 h-12 rounded-full bg-[#f8f1e4]  flex items-center justify-center">
                            <img src="assets/icons/np_loan_1243991_000000 1.svg" alt="User Icon" class="w-6 h-6">
                        </div>
                      </div>
      
                    <div class="mt-3">
                      <h4 class="font-semibold text-[12px] text-gray-500  sm:text-xs">USERS WITH LOANS</h4>
                      <!-- <p class="lg:text-md sm:text-[1.2vh]">Requests</p> -->
                    </div>

                    <div class="my-3">
                        <h4 class="font-bold lg:text-[25px] text-[#2f3c62] sm:text-xs">12,453</h4>
                        <!-- <p class="lg:text-md sm:text-[1.2vh]">Requests</p> -->
                      </div>
                  </div>
                </div>

                  <div
                    class="m-2 p-3 border-1 bg-white shadow-md grid rounded-md"
                  >
                    <div>
                      <h2 class="text-center font-bold lg:text-[3.5vh] sm:text-[3vh]">
                        <!-- {{ DashboardStatistics.DailyRejected }} -->
                      </h2>
                    </div>
        
                    <div class="flex flex-col gap-2">
                     

                      <div class="flex">
                        <div class="w-12 h-12 rounded-full bg-[#ffeef4]  flex items-center justify-center">
                            <img src="assets/icons/np_money_549109_000000 1.svg" alt="User Icon" class="w-6 h-6">
                        </div>
                      </div>
        
                      <div class="mt-3">
                        <h4 class="font-semibold text-[12px] text-gray-500  sm:text-xs">USERS WITH SAVINGS</h4>
                        <!-- <p class="lg:text-md sm:text-[1.2vh]">Requests</p> -->
                      </div>

                      <div class="my-3">
                        <h4 class="font-bold lg:text-[25px] text-[#2f3c62] sm:text-xs">102,453</h4>
                        <!-- <p class="lg:text-md sm:text-[1.2vh]">Requests</p> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <!-- </div> -->
        
      
            <div class="px-2 pt-[5vh]"> 
                <app-users-table/>
            </div>
          <!-- </div> -->
    <!-- </div> -->
</div>
